[submodule "LEDDriver"]
	path = LEDDriver
	url = git@github.com:wemblykj/Arduino_Lib_LEDDriver
[submodule "Animator"]
	path = Animator
	url = git@github.com:wemblykj/Arduino_Lib_Animator
[submodule "LLAPDispatcher"]
	path = LLAPDispatcher
	url = git@github.com:wemblykj/Arduino_Lib_LLAPDispatcher.git
[submodule "Core"]
	path = Core
	url = git@github.com:wemblykj/Arduino_Lib_Core.git
